streamlit
langchain>=0.2.16
langgraph>=0.2.14
langchain-groq>=0.1.9
finnhub-python
newsapi-python
mysql-connector-python
pandas
numpy
pydantic
python-dotenv
bcrypt
requests>=2.31.0
openai>=1.12.0
google-generativeai>=0.3.0
yfinance>=0.2.36
cachetools
